<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Create New Product</title>
</head>
<body>
<div class="container">
    <div align="center">
        <h1>Create New Customer</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${custmoerBean}"
            method="post">
 
            <table class="table table-bordered" border="0" cellpadding="10">
                <tr>
                    <td>AccNo:</td>
                    <td><input type="text" th:field="*{accno}" /></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td>Lname:</td>
                    <td><input type="text" th:field="*{lname}" /></td>
                </tr>
              <tr>
                    <td>addr:</td>
                    <td><input type="text" th:field="*{addr}" /></td>
                </tr>                      
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-primary"
                  role="button">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
    </div>
</body>
</html>